.contact {
  height: 100vh;
  background-image: linear-gradient(30deg, #330000 0%, #73192A 100%);
  color: #D9D9D9;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h1 {
  padding-bottom: 20px;
  text-align: center;
}

.link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-left: 15px;
}

@media (max-width: 500px) {
  .contact h1 {
    font-size: 2em;
  }
  .contact {
    height: 70vh;
  }
  .contact h2 {
    text-align: center;
    font-size: 1em;
    margin-right: 0px;
  }
  .link {
    font-size: 14px;
  }
}
